@charset "UTF-8";

table.ass tr td {
  width: 1rem;
  line-height: 1rem;
  vertical-align: top;
}

table.ass tr td * {
  line-height: 1rem;
}

table.ass tr td input {
  height: 1.1rem;
}

table.ass tr td:first-of-type {
  min-width: 10cm;
}

table.ass tr td:last-of-type {
  max-width: 6.8cm;
}

table.ass tr td:last-of-type p:last-of-type {
  line-height: 2.1rem;
  margin-top: -.2em;
}

